body {
    background-color: #121315;
    color: white;
}

.container-lore{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lore {
    text-align: justify;
    text-indent: 4em;
    line-height: 30px;
    width: 70%;
}