.card {
    background-color: lightpink;
    border: 1px solid darkblue;
    border-radius: 20px;
    padding: 10px 50px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
h1 {
    color: purple;
}
.details {
    width: 50%;
    border-radius: 10px;
    background-color: purple;
    color: lightpink;
}