body {
    position: relative;
}

.container {
    height: 79px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}
@media(min-width: 800px){
    .container {
        height: 88px;
    }
}
svg {
    height: 25px;
    width: 25px;
    color: white;
    padding-top: 5px;
    padding-left: 15px;
}